APScheduler==3.10.4
bidict==0.23.1
blinker==1.8.2
click==8.1.7
customtkinter==5.2.2
darkdetect==0.8.0
Flask==3.0.3
Flask-Cors==5.0.0
Flask-SocketIO==5.3.7
h11==0.14.0
itsdangerous==2.2.0
Jinja2==3.1.4
load-dotenv==0.1.0
mariadb==1.1.10
MarkupSafe==2.1.5
msgpack==1.1.0
msgpack-numpy==0.4.8
msgpack-python==0.5.6
netifaces==0.11.0
numpy==2.1.2
packaging==24.1
pillow==11.0.0
psutil==6.1.0
Pyro5==5.15
python-banyan==3.14
python-dotenv==1.0.1
python-engineio==4.9.1
python-socketio==5.11.4
pytz==2024.2
pyzmq==26.2.0
serpent==1.41
simple-websocket==1.0.0
six==1.16.0
tk==0.1.0
tzlocal==5.2
websockets==13.1
Werkzeug==3.0.4
wsproto==1.2.0
